@import "functions";
@import "variables/colors-var";
@import "variables/geral-var";

@function convertSize($value) {
    @return $value + px;
}

@mixin FontSize($font-size) {
  font-size: convertSize($font-size);
  line-height: convertSize($font-size * 1.5);
}

@mixin FontWeight($font-weight) {
  font-weight: $font-weight;
}

@mixin Button($font-size, $font-weight) {
    @include FontSize($font-size);
    @include FontWeight($font-weight);
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 16px;
    line-height: 140%;
    position: relative;
    transition: .2s ease;

    &:disabled {
        pointer-events: none;
    }

    .btn-text, .btn-icon {
        transition: transform .2s ease;
    }

    .btn-icon {
        display: flex;
    }

    .btn-text {
        margin-right: 8px;
    }

    &:hover {
        .btn-text {
            transform: translateX(-6px);
        }

        .btn-icon {
            transform: translateX(6px);
        }
    }
}

@mixin ErrorButton() {
    background-color: $color--r300;

    &:hover {
        background-color: $color--r400;
    }

    &:active, :focus {
        background-color: $color--r500;
    }

    &:disabled {
        background-color: $color--n300;
    }
}

@mixin LineLimit($font-size, $line-limit) {
  font-size: convertSize($font-size);
  line-height: convertSize($font-size * 1.5);
  display: -webkit-box;
  -webkit-line-clamp: $line-limit;
  max-height: convertSize($line-limit * ($font-size * 1.5));
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin LineLimitFixHeight($font-size, $line-limit) {
  @include LineLimit($font-size, $line-limit);
  height: convertSize($line-limit * ($font-size * 1.5));
}