$primary-color: #7AC74F;
$primary-color--hover: #72AC52;
$primary-color--pressed: #719E58;

$color--b500: #003A5E;
$color--b400: #005E99;
$color--b300: #298DCC;
$color--b200: #80CEFF;
$color--b100: #CCECFF;

$color--n700: #2D2D2D;
$color--n600: #484848;
$color--n500: #767676;
$color--n400: #BCBCBC;
$color--n300: #E4E4E4;
$color--n200: #F7F7F7;
$color--n100: #FFFFFF;

$color--g300: #47B289;

$color--y400: #805B19;
$color--y300: #E5AD45;

$color--r500: #661414;
$color--r400: #802626;
$color--r300: #B24747;
$color--r200: #E58A8A;

$color--o300: #F96901;

$color--p300: #A92DD4;
$color--p100: #BF74CB;