$text-font-family: 'Be Vietnam Pro', sans-serif;

$text-size--xxs: 10;
$text-size--xs: 12;
$text-size--s: 14;
$text-size--m: 16;
$text-size--l: 18;
$text-size--xl: 20;
$text-size--xxl: 24;
$text-size--3xl: 32;

$font-weight--400: 400;
$font-weight--500: 500;
$font-weight--600: 600;
$font-weight--700: 700;
$font-weight--bolder: bolder;
