@import "core/variables/_geral-var.scss";
@import "core/_dark-theme.scss";
@import "elements/_buttons.scss";
@import "elements/_inputs.scss";
@import "elements/_texts.scss";
@import "elements/_colors.scss";
@import "elements/_icons.scss";
@import "elements/_controls.scss";
@import "components/_searchbar.scss";
@import "components/_navbar.scss";
@import "components/_dropdown.scss";

body {
    font-family: $text-font-family;
    margin: auto;
}

.container-page {
    padding: $body-padding $body-padding 0;
    background-color: $color--n100;
    min-height: 100vh;
}

::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}