@import "core/variables/_geral-var.scss";
@import "elements/_buttons.scss";
@import "elements/_inputs.scss";
@import "elements/_texts.scss";
@import "elements/_colors.scss";
@import "elements/_icons.scss";
@import "elements/_controls.scss";
@import "components/_searchbar.scss";
@import "components/_navbar.scss";

body {
    font-family: $text-font-family;
    margin: auto;
}

.container-page {
    padding: $body-padding $body-padding 0;
}

.cursor-pointer {
    cursor: pointer;
}