@import "../../styles/core/variables/_colors-var.scss";

.containerSections {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .sectionRow {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        &.selected {
            background-color: $color--n300;
            border-radius: 6px;
        }
    }
}

.sectionSelected {
    border-radius: 6px;

    svg {
        fill: $color--n100 !important;
    }
}

.containerMeasures {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .measureRow {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        height: 40px;

        &.selected {
            background-color: $color--n300;
            border-radius: 6px;
        }
    }
}

.reactSvg svg {
    min-width: 24px;
    min-height: 24px;
}