@import "../core/variables/_colors-var.scss";
@import "../core/variables/_texts-var.scss";
@import "../core/_mixins.scss";

.searchbar-holder {
    background-color: $color--n200;
    padding: 12px;

    .input-box {
        margin: 0;
        display: flex;
        gap: 10px;

        input {
            background-color: $color--n200;
        }

        .icon svg {
            width: 16px;
            height: 16px;
        }
    }
}

.items-list {
    padding: 8px 8px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
    max-height: 50vh;
}

.item-searched {
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: $color--n200;
        border-radius: 6px;
    }

    .follow-btn {
        height: 21px;
    }
}

.item-tab {
    display: flex;
    align-items: center;
    gap: 8px;

    .file-type {
        text-align: left;
        @include FontSize($text-size--xs);
    }
}

.tab-buttons {
    height: 41px;
}


.tab-item {
    &:hover {
        color: $color--b300;

        svg {
            fill: $color--b300;
        }
    }

    &:disabled {
        pointer-events: none;
    }

    svg {
        width: 12px;
    }

    &:nth-child(3) svg {
        width: 10px;
    }
}

.input-box-holder {
    padding: 12px !important;
    gap: 8px;
    height: 40px;

    .input-text {
        margin-right: 2px;
    }
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px;
}

@media (max-width: 899px) {

    .input-box {
        padding: 0 16px;
    }

    .dropdown-search {
        margin-top: 16px;

        .tab-buttons {
            padding: 0 16px;

            .container-header {
                width: 100%;
                justify-content: space-between;

                .tab-item {
                    padding: 4px 0 20px;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .dropdown-search {
        position: absolute;
        width: 100%;
        background-color: white;
        z-index: 2;
        border: 1px solid $color--n500;
        border-radius: 4px;
        margin-top: 8px;
        padding: 12px;

        .tab-buttons {
            padding: 0;
        }

        .items-list {
            padding: 12px 0 0;
        }
    }
}
