@import "../../styles/core/variables/_colors-var.scss";

.searchbarContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 24px;
}

.containerMeasures {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 72px;

    .measureRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid $color--n300;
    }
}
