@import "../../styles/core/variables/_colors-var.scss";

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

.modalMobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $color--n100;
    overflow: hidden;
    transition: height 0.3s ease-out;
    z-index: 1;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
}

.confirmModal {
    .modalMobile {
        margin: 16px;
        width: auto;
        min-height: unset !important;
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 6px;

        .toggleModal {
            display: none;
        }

        .confirmBtn {
            background-color: $color--r300;
        }

        .title {
            color: $color--n700;
            font-size: 18px;
            font-weight: bold;
        }

        .modalHeader {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
}


.modalMobile.open {
    height: auto;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid $color--n300;
}

.modalContent {
    flex: 1;
    padding: 24px 16px;
    overflow: scroll;

    &.noFooter {
        padding-top: 8px;
        padding-bottom: 16px;
    }

    &.hasSearchbar {
        padding-top: 8px;
    }
}

.modalFooter {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 8px;
    border-top: 1px solid $color--n300;
    background-color: $color--n100;

    button {
        flex-grow: 1;
    }
}

.confirmModal {
    .modalMobile {
        margin: 16px;
        width: auto;
        min-height: unset !important;
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 6px;

        .toggleModal {
            display: none;
        }

        .confirmBtn {
            background-color: $color--r300;
        }

        .title {
            color: $color--n700;
            font-size: 18px;
            font-weight: bold;
        }

        .modalHeader {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
}