@import "../../styles/core/variables/_colors-var.scss";

.inputRow {
    display: flex;
    gap: 8px;

    & > div:first-child {
        flex-grow: 1;
    }

    & > div:last-child {
        width: 22%;
    }
}

.containerModal, .list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
}
