@import "../core/variables/_colors-var.scss";

.toggle {
    width: 28px;
    height: 16px;
    position: relative;
    display: inline-block;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $primary-color;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $primary-color;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(12px);
            -ms-transform: translateX(12px);
            transform: translateX(12px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color--n400;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:hover {
            background-color: $color--n500;
        }

        &:before {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            margin: 2px;
            background-color: $color--n100;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
            left: 0;
        }

        &.disabled {
            background-color: $color--n300;

            .slider:before {
                background-color: $color--n400;
            }
        }
    }

    &.size-m {
        width: 38px;
        height: 20px;

        .slider:before {
            width: 16px;
            height: 16px;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
        }
    }
}

.checkbox-container {
    gap: 8px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid $color--n500;
    display: grid;
    place-content: center;
    border-radius: 2px;

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: $color--n100;
        clip-path: polygon(22.45% 43.52%, 40% 63.71%, 78.92% 29.86%, 86% 38%, 40% 78%, 15% 50%);
    }

    &:checked {
        background-color: $color--b300;
        border: none;

        &::before {
            transform: scale(1);
        }

        &:hover {
            background-color: $color--b400;
        }

        &:active {
            background-color: $color--b500;
        }

        &:disabled {
            background-color: $color--n400;
        }
    }

    &:hover {
        border-color: $color--n700;
    }

    &:disabled {
        border-color: $color--n400;
        cursor: not-allowed;
    }
}

input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid $color--n500;
    display: grid;
    place-content: center;
    border-radius: 50%;

    &::before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: $color--b300;
    }

    &:checked {
        background-color: $color--n100;
        border-color: $color--b300;

        &::before {
            transform: scale(1);
        }

        &:hover {
            border-color: $color--b400;

            &::before {
                background-color: $color--b400;
            }
        }

        &:active {
            border-color: $color--b500;

            &::before {
                background-color: $color--b500;
            }
        }

        &:disabled {
            border-color: $color--n400;

            &::before {
                background-color: $color--n400;
            }
        }
    }

    &:hover {
        border-color: $color--n700;
    }

    &:disabled {
        border-color: $color--n400;
        cursor: not-allowed;
    }
}
