@import "../core/variables/_colors-var.scss";

.react-svg > div{
    display: flex;
}

.arrow{
    &-right{
        transform: rotate(-90deg);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.react-svg {
    svg {
        fill: $color--n500;
    }

    &.icon-color--p100 svg {
        fill: $color--p100;
    }

    &.icon-color--p300 svg {
        fill: $color--p300;
    }

    &.icon-color--y400 svg {
        fill: $color--y400;
    }

    &.icon-color--y300 svg {
        fill: $color--y300;
    }

    &.icon-color--n100 svg {
        fill: $color--n100;
    }

    &.icon-color--n400 svg {
        fill: $color--n400;
    }

    &.icon-color--n500 svg {
        fill: $color--n500;
    }

    &.icon-color--n600 svg {
        fill: $color--n600;
    }

    &.icon-color--r300 svg {
        fill: $color--r300;
    }

    &.icon-color--r200 svg {
        fill: $color--r200;
    }

    &.icon-color--r500 svg {
        fill: $color--r500;
    }

    &.icon-color--b200 svg {
        fill: $color--b200;
    }

    &.icon-color--b300 svg {
        fill: $color--b300;
    }

    &.icon-color--b400 svg {
        fill: $color--b400;
    }

    &.icon-color--o300 svg {
        fill: $color--o300;
    }

    &.icon-color--g300 svg {
        fill: $color--g300;
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--w32 {
        width: 32px;
        height: 32px;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}