@import "../core/variables/_colors-var.scss";

.react-svg > div{
    display: flex;
}

.arrow{
    &-right{
        transform: rotate(-90deg);
    }
}

.icon--w16 {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: $color--n500;
    }

    .react-svg.color-r300 svg {
        fill: $color--r300;
    }

    .react-svg.color-n300 svg {
        fill: $color--n300;
    }
}