@import "../core/variables/_colors-var.scss";

.react-svg > div{
    display: flex;
}

.arrow{
    &-right{
        transform: rotate(-90deg);
    }
}

.icon--w16 {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.react-svg {
    svg {
        fill: $color--n500;
    }

    &.icon-color--p100 svg {
        fill: $color--p100;
    }

    &.icon-color--n600 svg {
        fill: $color--n600;
    }

    &.icon-color--n100 svg {
        fill: $color--n100;
    }

    &.icon-color--r300 svg {
        fill: $color--r300;
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--w32 {
        width: 32px;
        height: 32px;
    }
}