@import "../../styles/core/variables/_colors-var.scss";

.errorRow {
    display: flex;
    align-items: start;
    gap: 8px;

    &.valid {
        svg {
            fill: $color--g300;
        }
    }

    &:not(.valid) {
        svg {
            fill: $color--n300;
        }
    }
}

.iconMT4 {
    margin-top: 4px;
}
