@import "../styles/core/variables/_colors-var.scss";

.searchbarContainer {
    margin-bottom: 24px;
}

.containerCards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 64px;

    .card {
        border: 1px solid $color--n300;
        border-radius: 4px;
        padding: 0 8px;

        .cardHeader {
            padding: 10px 0;
        }

        .cardBodyRow {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            &:nth-child(n+2) {
                border-top: 1px solid $color--n300;
            }
        }
    }
}

.contentList {
    display: flex;
    flex-direction: column;

    .listRow {
        border-bottom: 1px solid $color--n300;
        padding: 8px 6px;

        &.default {
            background-color: $color--n300;
            border-radius: 4px;
            border: none;
        }
    }
}